body {
    margin: 10px 25%;
}

h1 {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.photo-person {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.photo-person-img {
    margin-bottom: 10px;
    max-width: 250px;    
    max-height: 250px;

}

.data-person {
    display: flex;
    flex-direction: column; 
}

.data-person>input {
    margin-top: 5px;
    width: 250px;
    height: 20px;
    border: none;   
    border-bottom: solid 2px #000;
}

.info-preson-block {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    border: solid 1px #eee;
    margin: 10px;
}

.info-preson-block>.info-preson-block-title {
    display: flex;
    flex-direction: column;
    height: 20px;
    border: none;   
    border-bottom: solid 2px #000;
}

.info-preson-block-description {
    margin: 5px;
    width: 100%;
}

