body {
    margin: 10px 25%;
    background: #eee;
}

h1 {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.photo-person {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.photo-person-img {
    margin-bottom: 10px;

    min-height: 200px;
    width: auto;
    max-height: 250px;

}

.data-person {
    display: flex;
    flex-direction: column; 
}

.data-person>input {
    margin-top: 5px;
    width: 350px;
    height: 30px;
    border: none;   
    border-bottom: solid 2px #000;
}

.info-preson>h2 {
    text-align: center;
}

.info-preson-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 2px #000;
    margin-bottom: 20px;
}

.info-preson-block>input {
    margin: 10px;

}
.add-block {
    margin: 10px 25%;
    width: 50%;
}

.add-description {
    width: 100%;
}

.info-preson-block>.info-preson-block-title {
    display: flex;
    flex-direction: column;
    height: 20px;
    border: none;   
    border-bottom: solid 2px #000;
}

.info-preson-block-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.info-preson-block-description>input {
    width: 48%
}

.save-resume {
    margin-bottom: 5%;
    text-align: center;
    width: 100%;
    font-weight: 800;
}
